<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>

<body>
    <h1>Veio da API</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime optio magni ullam atque magnam neque.
        Necessitatibus consequatur veritatis natus, incidunt eveniet aut? Ipsum aut praesentium dolore libero blanditiis
        aperiam explicabo.</p>

        <form action="">
            <label for="name">Nome:</label>
            <input type="text" name="name" id="name">
        </form>
</body>

</html>